@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@font-face {
  font-family: 'SF Pro Display';
  src: url('/fonts/SF-Pro-Display-Medium.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap
}
@font-face {
  font-family: 'SF Pro Display Semibold';
  src: url('/fonts/SF-Pro-Display-Semibold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
  font-display: swap
}

body {
  font-family: 'SF Pro Display', sans-serif; font-display: swap
}

.bg-clip-text {
  -webkit-background-clip: text;
  background-clip: text;
}

@keyframes smooth-ping {
  75%, 100% {
    transform: scale(1.05);
    opacity: 0.4;
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}
}


.pulse {
  animation: pulse 1s infinite ease-in-out alternate;
}
@keyframes pulse {
  from { transform: scale(0.95); -webkit-transform: scale(0.95); -moz-transform: scale(0.95); -ms-transform: scale(0.95); -o-transform: scale(0.95); }
  to { transform: scale(1.05); -webkit-transform: scale(1.05); -moz-transform: scale(1.05); -ms-transform: scale(1.05); -o-transform: scale(1.05); }
}

.pulsetwo {
  animation: pulse 10s infinite ease-in-out alternate;
  -webkit-animation: pulse 10s infinite ease-in-out alternate;
}
@keyframes pulsetwo {
  from { transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); }
  to { transform: scale(1); -webkit-transform: scale(1); -moz-transform: scale(1); -ms-transform: scale(1); -o-transform: scale(1); }
}

.custom-shadow {
  box-shadow: 0 -10px 15px rgba(0, 0, 0, 0.12);}